*{
    margin:0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.nav-bar{
    height: 60px;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.brand-name{
    margin-left: 20px;
    font-size: 2rem;
    font-weight: 600;
}
#box{
    position: relative;
    height: 71%;
    width: 42px;
    background-color: aquamarine;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
   cursor: pointer;
}
#tglbutn{
    position: absolute;
    height: 2px;
    width: 75%;
    background-color: black;
}
#tglbutn:nth-child(1){
    top: 8px;
}
#tglbutn:nth-child(3){
    bottom: 8px;
}
#active-tgl{
    width: 98%;
    height: 20vh;
    margin: 2px auto;
    text-align: center;
    border: 2px solid black;
    display: block;
    
}
a{
    text-decoration: none;
    color: black;
}
.menu{
    height: 32%;
    padding:9px;
}
h1{
    text-align: center;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container{
    position: relative;
    margin: 50px auto;
    height: 30%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.items{
    position: relative;
    height: 100%;
    width: 30%;
    border: 2px solid black;
    margin: auto;
    padding: 35px 15px 15px 15px;
    background: linear-gradient(#e66465, #9198e5);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(5px);
    color: rgb(5, 5, 5);
  

}
.item-title{
    position: absolute;
    text-align: center;
    border: 1px solid rgb(14, 13, 13);
    height: 25px;
    width: 130px;
    top: 0px;
    right: 0px;
    border-top: none;
    border-right: none;
    text-transform: capitalize;
    color: black;
    font-weight: bolder;
    font-size: 1.2rem;
    
}
.items:nth-child(1)
.item-title{
    background:rgba(241, 200, 200, 0.896);
    color: rgb(2, 2, 2);
}
.items:nth-child(2)
.item-title{
    background:rgba(164, 219, 241, 0.896);
    color: rgb(1, 1, 1);
}
.items:nth-child(3)
.item-title{
    background:rgba(129, 169, 253, 0.896);
    color: rgb(1, 1, 1);
}
@media (min-width:992px){
    .items{
        width: 32%;
        
     }
        #box{
            visibility: hidden;
        }
        #active-tgl{
            display: none;
            
        }
       
        
}


@media (max-width:991px){
    .items{
       
        width: 48%;
        margin: 10px 0px;
    }
    .items:nth-child(3){
        width: 100%;
    }
    #box{
        visibility: hidden;
    }
    #active-tgl{
        display: none;
    }
}

    

@media (max-width:767px){
  
    .items{
       
        width: 80%;
        margin:10px auto;
    }
    .items:nth-child(3){
        width: 80%;
    }
    #box{
        visibility: visible;
    }
}

    
